- if @search_objects.empty?
  = render partial: "search/results/empty"
- else
  .gray-content-block
    = search_entries_info(@search_objects, @scope, @search_term)
    - unless @show_snippets
      - if @project
        in project #{link_to @project.name_with_namespace, [@project.namespace.becomes(Namespace), @project]}
      - elsif @group
        in group #{link_to @group.name, @group}

  .results.prepend-top-10
    .search-results
      - if @scope == 'projects'
        .term
          = render 'shared/projects/list', projects: @search_objects
      - else
        = render partial: "search/results/#{@scope.singularize}", collection: @search_objects

    - if @scope != 'projects'
      = paginate(@search_objects, theme: 'gitlab')
